@font-face {
    font-family: "myfont_2";
    src: url("./Associated_files/BernhardModernStd-Roman.woff") format('woff');
  }

@font-face {
    font-family: "myfont";
    src: url("./Associated_files/cheops elegant regular.ttf") format('woff');
}

#name {
    font-family: myfont;
    font-size: 70px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #874537;
}

#sub_header {
    font-family: myfont;
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: center;
}

#page_links {
    text-align: center;
}

#page_links a { color: #000000; display: inline-block; padding: 0.5em; text-decoration: transparent;}
#page_links a:hover {color: #874537;}
#page_links a:hover {text-decoration: underline;}



#page_links li {
    display: inline-block; 
    margin: 0 100px;
    justify-content: center;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    text-align: right;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    ul {
        display: none;
    }

    #nag-toggle {
        display: none;
    }

    #nag-toggle:checked + label + ul {
        display: block;
        text-align: center;
    }

    ul li {
        display: block;
        margin: 10px 0;
    }
}

@media (min-width: 760px) {
    ul {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }

    ul li {
        display: inline-block;
        margin: 0 20px;
    }
}


#page_links #nav-toggle { display: inline-block; font-size: 1.1rem; }
#page_links ul {border-top: 1px solid black}
#page_links ul {border-bottom: 1px solid black}
#page_links ul {
    list-style: none;
    width: 100%;
    margin-left: 0px;
    padding: 0;
    font-family: myfont_2;
    font-size: 21px;
    /* font-weight: 900; */
}

#footer_image {
    display: flex;
    width: 100%;
}