/* Font faces */
@font-face {
    font-family: "myfont_2";
    src: url("./Associated_files/BernhardModernStd-Roman.woff") format('woff');
}

@font-face {
    font-family: "myfont";
    src: url("./Associated_files/cheops elegant regular.ttf") format('woff');
}

body {
    background-color: #fcf6f0 !important;
}

/* Header styling */
#name {
    font-family: myfont;
    font-size: 9vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    color: #874537;
}

#sub_header {
    font-family: myfont;
    font-size: 2.5vw;
    font-style: italic;
    display: flex;
    justify-content: center;
}

/* Page links styling */
#page_links {
    text-align: center;
}

#page_links a { 
    color: #000000; 
    display: inline-block; 
    padding: 0.5em; 
    text-decoration: none; /* Fix transparent text decoration */
}

#page_links a:hover { 
    color: #874537;
    text-decoration: underline;
}

/* List items in page links */
#page_links li {
    display: inline-block; 
    margin: 0 calc(6vw);
    justify-content: center;
}

/* Hamburger menu styling */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    text-align: right;
}

/* Mobile view (max-width: 768px) */
@media (max-width: 768px) {
    /* Center the hamburger icon */
    #page_links {
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center;     /* Vertically center if needed */
        height: 100px;           /* Set a height for the container if needed */
    }

    .hamburger {
        display: block; /* Show the hamburger icon on small screens */
    }

    .hamburger-icon {
        width: 60px; /* Adjust the size of the hamburger icon */
        cursor: pointer;
    }

    ul {
        display: none; /* Hide the menu initially */
    }

    ul li {
        display: block; /* Display list items vertically */
        margin: 10px 0;
    }
}

/* Desktop view (min-width: 768px) */
@media (min-width: 768px) {
    .hamburger {
        display: none; /* Hide the hamburger icon on large screens */
    }

    ul {
        display: inline-block; /* Show the menu on large screens */
    }

    ul li {
        display: inline-block; /* List items inline on large screens */
        margin: 0 20px;
    }

    #nav-toggle {
        display: none; /* Hide the checkbox */
    }
}

/* Additional styling for borders and the menu */
#page_links ul {
    list-style: none;
    width: 76%;
    margin-left: 0;
    padding: 0;
    font-family: body_font;
    font-size: 21px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Footer image */
#footer_image {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
}